/OwnerApi.Application/obj/project.packagespec.json
/OwnerApi.Infrastructure.Data/bin/*
/OwnerApi/.config/*
/OwnerApi/bin/*
/OwnerApi.Infrastructure.Identity/bin/*
/OwnerApi.Infrastructure.IoC/bin/*
/.git/*
/.idea/*
/.vs/*
/OwnerApi.Core/bin*
/OwnerApi.Application/bin/*
/OwnerApi/obj/project.packagespec.json
/OwnerApi.Core/obj/project.packagespec.json
/OwnerApi.Infrastructure.Data/obj/project.packagespec.json
/OwnerApi.Infrastructure.Identity/obj/project.packagespec.json
/OwnerApi.Infrastructure.IoC/obj/project.packagespec.json
/OwnerApi/obj/rider.project.restore.info
/OwnerApi.Application/obj/rider.project.restore.info
/OwnerApi.Infrastructure.Identity/obj/rider.project.restore.info
/OwnerApi.Infrastructure.IoC/obj/rider.project.restore.info
/OwnerApi.Infrastructure.Data/obj/*
/OwnerApi.Infrastructure.Identity/obj/*
/OwnerApi.Infrastructure.IoC/obj/*
/OwnerApi/obj/*
/OwnerApi.Application/obj/*
/OwnerApi.Core/obj/*
*.user
/OwnerApi/Logs/*
/InternalWebsite/bin/Debug/net5.0
/InternalWebsite.Core/bin/Debug/net5.0
/InternalWebsite.Infrastructure.Data/bin/Debug/net5.0
/InternalWebsite.Infrastructure.Identity/bin/Debug/net5.0
/InternalWebsite.Infrastructure.Identity/obj
/InternalWebsite.Infrastructure.IoC/bin/Debug/net5.0
/InternalWebsite.Infrastructure.IoC/obj
/InternalWebsite.Infrastructure.Data/obj
/InternalWebsite.Core/obj
/InternalWebsite.Application/bin/Debug/net5.0
/InternalWebsite.Application/obj
/InternalWebsite/obj
/InternalWebsite/Logs/mylog-20210923.txt
/InternalWebsite/Logs/*.txt
/.idea
/.vs
/InternalWebsite.sln.DotSettings
/.config/dotnet-tools.json
/InternalWebsite/bin/Release/net5.0/Resources/Images
/InternalWebsite/bin/Release/net5.0/runtimes
/InternalWebsite/bin/Release/net5.0
/InternalWebsite.Application/bin/Release/net5.0
/InternalWebsite.Core/bin/Release/net5.0
/InternalWebsite.Infrastructure.Data/bin/Release/net5.0
/InternalWebsite.Infrastructure.IoC/bin/Release/net5.0/ref
/InternalWebsite.Infrastructure.IoC/bin/Release/net5.0
**bin**
**obj**
/InternalWebsite.API/Logs/mylog-20230727.txt
/InternalWebsite.API/Logs/mylog-20230731.txt
/InternalWebsite.API/Logs/mylog-20230801.txt
/InternalWebsite.API/Logs/mylog-20230802.txt
